
HH_Modules/.ipynb_checkpoints/hh_dates-checkpoint.py
HH_Modules/.ipynb_checkpoints/hh_dates-checkpoint.py
HH_Modules/__pycache__/hh_dates.cpython-37.pyc
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Testing_Space/.ipynb_checkpoints/tester_pasha_2-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/MRI_demo.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_group_z_matrix.h5
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_demo-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Modules/.ipynb_checkpoints/hh_dates-checkpoint.py
HH_Modules/.ipynb_checkpoints/hh_files-checkpoint.py
HH_Modules/.ipynb_checkpoints/hh_mri-checkpoint.py
HH_Modules/__pycache__/hh_dates.cpython-37.pyc
HH_Modules/__pycache__/hh_files.cpython-37.pyc
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
HH_Modules/.ipynb_checkpoints/hh_mri-checkpoint.py
HH_Data/~$MSCI Index Data - Bloomberg.xlsx
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors-checkpoint.ipynb
HH_Modules/.ipynb_checkpoints/hh_files-checkpoint.py
HH_Modules/__pycache__/hh_files.cpython-37.pyc
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_data_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_group_z_matrix_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_group_z_matrix_backup_old.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_released_assets_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_released_groups_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_released_index_backup.h5
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_generator-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_generator_clean-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/msci_data_bloomberg_backup.xlsx
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_4_only-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_7_only-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_slow-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Reindexation_testing-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Test_Files/scan0007.pdf
HH_Projects/01_Market_Risk_Indicator/Data_Files/Test_Files/scan0008.pdf
HH_Projects/01_Market_Risk_Indicator/Reindexation_testing.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/GRI_generator_runner-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner_fixed-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner_table-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/gri_data.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/gri_released_index.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/market_risk_source.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-1c2uwrsl.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-4xhgidur.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-hpnecgda.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-rhyth08j.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/market_risk_source.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Test_Files/scan0010.pdf
HH_Projects/01_Market_Risk_Indicator/Notebooks backup/.ipynb_checkpoints/Market_risk_factors-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks backup/.ipynb_checkpoints/MRI_demon-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks backup/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_analyzer-checkpoint.ipynb
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
*.pyc
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_factors-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/For_html._export-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/For_Example-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_calculator-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Political_risk_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Stack_Overflow_Questions-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/CDS_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/CDS_blender-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_daily_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_monthly_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Macro_factors-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Observation_data_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/OD_Politics_comparing-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner_alter-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Continuum_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/OD_comparing-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Quick_visualization-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Data_preparation-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/Conditional_testing-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_demon-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_demon-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/Market_risk_factors-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
