
HH_Modules/.ipynb_checkpoints/hh_dates-checkpoint.py
HH_Modules/.ipynb_checkpoints/hh_dates-checkpoint.py
HH_Modules/__pycache__/hh_dates.cpython-37.pyc
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Testing_Space/.ipynb_checkpoints/tester_pasha_2-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/MRI_demo.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_group_z_matrix.h5
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_demo-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Modules/.ipynb_checkpoints/hh_dates-checkpoint.py
HH_Modules/.ipynb_checkpoints/hh_files-checkpoint.py
HH_Modules/.ipynb_checkpoints/hh_mri-checkpoint.py
HH_Modules/__pycache__/hh_dates.cpython-37.pyc
HH_Modules/__pycache__/hh_files.cpython-37.pyc
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
HH_Modules/.ipynb_checkpoints/hh_mri-checkpoint.py
HH_Data/~$MSCI Index Data - Bloomberg.xlsx
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors-checkpoint.ipynb
HH_Modules/.ipynb_checkpoints/hh_files-checkpoint.py
HH_Modules/__pycache__/hh_files.cpython-37.pyc
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_data_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_group_z_matrix_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_group_z_matrix_backup_old.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_released_assets_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_released_groups_backup.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/mri_released_index_backup.h5
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_generator-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/MRI_generator_clean-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/msci_data_bloomberg_backup.xlsx
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_4_only-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_7_only-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_slow-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Reindexation_testing-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Test_Files/scan0007.pdf
HH_Projects/01_Market_Risk_Indicator/Data_Files/Test_Files/scan0008.pdf
HH_Projects/01_Market_Risk_Indicator/Reindexation_testing.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/GRI_generator_runner-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner_fixed-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner_table-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/gri_data.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/gri_released_index.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/market_risk_source.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-1c2uwrsl.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-4xhgidur.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-hpnecgda.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/pytables-rhyth08j.tmp
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/market_risk_source.h5
HH_Projects/01_Market_Risk_Indicator/Data_Files/Test_Files/scan0010.pdf
HH_Projects/01_Market_Risk_Indicator/Notebooks backup/.ipynb_checkpoints/Market_risk_factors-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks backup/.ipynb_checkpoints/MRI_demon-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks backup/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_analyzer-checkpoint.ipynb
HH_Modules/__pycache__/hh_mri.cpython-37.pyc
*.pyc
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_factors-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/For_html._export-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/For_Example-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_calculator-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Political_risk_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Stack_Overflow_Questions-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/CDS_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/CDS_blender-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_daily_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Debt_ratings_monthly_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Macro_factors-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Observation_data_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/OD_Politics_comparing-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/.ipynb_checkpoints/Market_risk_factors_runner_alter-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Continuum_analyzer-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/OD_comparing-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Quick_visualization-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Data_preparation-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/Conditional_testing-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_demon-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_showcase-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_demon-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/Market_risk_factors-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Notebooks_backup/.ipynb_checkpoints/MRI_engine-checkpoint.ipynb
HH_Projects/01_Market_Risk_Indicator/Data_Files/Source_Files/gri_released_index_alter.h5
HH_Projects/04_Currency/Data_Files/Source_Files/Bloomberg_prepared_old.h5
HH_Projects/04_Currency/Data_Files/Source_Files/Bloomberg_XCRA_not_good_enough.xlsx
HH_Projects/05_Economic_Indices/Data_Files/Source_Files/Matrix_Eco_Indices_winsorized.h5
HH_Projects/05_Economic_Indices/Data_Files/Source_Files/Matrix_Eco_Indices_flags_only.h5
HH_Projects/05_Economic_Indices/Data_Files/Source_Files/Matrix_Eco_Indices_before_flags.h5
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Eco_Indices_for_Acadian-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/_readme-checkpoint
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_generator-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_researcher-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_revision-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_generator-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_runner_daily-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_generator-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_sources_export-checkpoint.ipynb
HH_Projects/04_Currency/Data_Files/Test_Files/Autocorr_test.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/EER_factors_source.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/EER_factors_source_NEER_complex.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/EER_factors_source_NEER_simple.xlsx
*.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/EER_factors_stats.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/EER_factors_vectors.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/Example_EER_Factor.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/Example_EER_Market_Caps.xlsx
HH_Projects/04_Currency/Data_Files/Test_Files/Example_EER_Returns.xlsx
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/_readme-checkpoint
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/Country_risks_source_export-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/THA_runner_daily_monthly-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/THA_runner_daily_comparing-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/THA_runner_daily_modified-checkpoint.ipynb
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/THA_runner_daily_old_style-checkpoint.ipynb
*.csv
HH_Projects/03_Gravity/.ipynb_checkpoints/IMF_Downloads_Converting-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_debug-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_runner_acadian-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_runner_monthly-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/THA_playground_runner_daily-checkpoint.ipynb
*.jpg
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/_readme-checkpoint
*.h5
*.html
*.xlsx
HH_Projects/02_Macro_Risk/.ipynb_checkpoints/THA_runner_daily_efficacy-checkpoint.ipynb
HH_Projects/02_Macro_Risk/Notebooks_Backup/.ipynb_checkpoints/Country_risks_factors_runner_acadian-checkpoint.ipynb
HH_Projects/02_Macro_Risk/Notebooks_Backup/.ipynb_checkpoints/Macro_factors-checkpoint.ipynb
HH_Projects/02_Macro_Risk/Notebooks_Backup/.ipynb_checkpoints/Quick_visualization-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_&_FX_analyzer_full-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/EER_factors_generator-checkpoint.ipynb
HH_Projects/04_Currency/.ipynb_checkpoints/THA_playground_research-checkpoint.ipynb
*.xlsx
*.h5
*.h5
*.xls
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Forecasts_generator-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_MoM_multithread-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_MoM_regional-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_MoM_research-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_MoM_research_2std-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_MoM_research_4std_PCA-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_plots-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_generator-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_MoM_research_4std-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_QoQ_research_4std_PCA-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_research-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor_YoY-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_data_extractor-checkpoint.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/.ipynb_checkpoints/Indices_data_extractor_backup_MoM_02-checkpoint.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/.ipynb_checkpoints/Indices_data_extractor_backup_PCA_inbuilt-checkpoint.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_MoM_01.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_MoM_02.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_MoM_03.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_PCA.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_PCA_inbuilt.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_01.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_02.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_03.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_04.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_05.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_06.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_07.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_08.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_09.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_10.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_11.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_12.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_13.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_01.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_02.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_03.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_04.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_05.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_06.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_07.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_08.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_09.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_10.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_11.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_14.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_15.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_16.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_17.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_backup_YoY_18.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_generator.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_generator_01.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_generator_02.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_generator_03.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Indices_data_extractor_generator_04.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Forecasts_generator_backup_01.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Forecasts_generator_backup_02.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Forecasts_generator_backup_03.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/Forecasts_generator_backup_04.ipynb
*.pdf
*.zip
*.txt
HH_Projects/03_Gravity/.ipynb_checkpoints/CDIS_Visualization-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/CPIS_Detailed-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Data_loading-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Data_preparation_old_WB_API-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/DOTS_Bonus-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/DOTS_World-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/FDI_Assets-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/FDI_Detailed-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/FDI_Old_Fashioned-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/GDP_Detailed-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/CDIS_Research-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/CDIS_Detailed-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/CDIS_Assets-checkpoint.ipynb
HH_Projects/00_Trivia/Notebooks_Backup/EER_factors_runner_backup.ipynb
HH_Projects/00_Trivia/Notebooks_Backup/CI_factors_runner_backup.ipynb
HH_Projects/00_Trivia/Notebooks_Backup/.ipynb_checkpoints/EER_factors_runner_backup-checkpoint.ipynb
HH_Projects/00_Trivia/Notebooks_Backup/.ipynb_checkpoints/EER_factors_runner_acadian-checkpoint.ipynb
HH_Projects/00_Trivia/.ipynb_checkpoints/131_checker-checkpoint.ipynb
HH_Projects/00_Trivia/.ipynb_checkpoints/CI_factors_runner-checkpoint.ipynb
HH_Projects/00_Trivia/.ipynb_checkpoints/CI_factors_runner_alpha-checkpoint.ipynb
HH_Projects/00_Trivia/.ipynb_checkpoints/CI_factors_runner_parallel-checkpoint.ipynb
HH_Projects/00_Trivia/.ipynb_checkpoints/CI_factors_runner_profiled-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/GDP_per_capita-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Gravity_Acadian-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Gravity_Ann_with_Lag-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Gravity_World-checkpoint.ipynb
HH_Projects/03_Gravity/.ipynb_checkpoints/Returns_weighting-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/CDIS_Assets-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/CPIS_Detailed_01-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/Data_preparation_01-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/Data_preparation_03-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/Data_preparation_06-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/Data_preparation_07-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/Data_preparation_old_WB_API-checkpoint.ipynb
HH_Projects/03_Gravity/Notebooks_backup/.ipynb_checkpoints/Gravity_Acadian_01-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/EI_factors_HH-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Forecast_factors_matrix_norm-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Forecasts_factors_std_norm-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Indices_research_Acadian-checkpoint.ipynb
HH_Projects/05_Economic_Indices/.ipynb_checkpoints/Percentile_Signs-checkpoint.py
HH_Projects/05_Economic_Indices/Data_Files/Source_Files/5B6F2000
HH_Projects/08_BoA_ESG/.ipynb_checkpoints/Data_Export_2022-checkpoint.ipynb
HH_Projects/08_BoA_ESG/.ipynb_checkpoints/Data_Export_2023-checkpoint.ipynb
HH_Projects/08_BoA_ESG/.ipynb_checkpoints/Data_Export_old_WB_API-checkpoint.ipynb
HH_Projects/08_BoA_ESG/Notebooks_backup/.ipynb_checkpoints/Data_Export_2023-checkpoint.ipynb
HH_Projects/08_BoA_ESG/Notebooks_backup/.ipynb_checkpoints/Data_preparation_01-checkpoint.ipynb
HH_Projects/08_BoA_ESG/Notebooks_backup/.ipynb_checkpoints/Data_preparation_03-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Commodities_stand-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Commodities_stand_Import-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_compete_detailed_sitc-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_compete_simple_mean-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_compete_weighted_mean-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_dependancy-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_exclusivity_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_export-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_factors_daily_mode-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_fragility_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_fragility_imp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_herfindahl_comm_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_herfindahl_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_herfindahl_full_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_herfindahl_partner_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_industry_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_Interaction-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_loading_Acadian-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_loading_new_API-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_loading_new_API_2022_only-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_loading_old_API-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_pagerank_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_pagerank_exp_inverted-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_pagerank_imp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_pagerank_sum-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_pagerank_sum_imp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_quality_detailed_sitc-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_quality_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_simple_exp-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_stand-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Comtrade_test_corr-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/Factors_visualization-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/UNC_for_Intern-checkpoint.ipynb
HH_Projects/09_Comtrade_API/.ipynb_checkpoints/WIOT_Export-checkpoint.ipynb
HH_Projects/09_Comtrade_API/Notebooks_backup/.ipynb_checkpoints/Commodities_stand_old3-checkpoint.ipynb
HH_Projects/09_Comtrade_API/Notebooks_backup/.ipynb_checkpoints/Commodities_stand_to_send-checkpoint.ipynb
HH_Projects/09_Comtrade_API/Notebooks_backup/.ipynb_checkpoints/Comtrade_export_02-checkpoint.ipynb
HH_Projects/09_Comtrade_API/Notebooks_backup/.ipynb_checkpoints/Comtrade_loading_02-checkpoint.ipynb
HH_Projects/09_Comtrade_API/Notebooks_backup/.ipynb_checkpoints/Data_preparation_01-checkpoint.ipynb
HH_Projects/09_Comtrade_API/Notebooks_backup/.ipynb_checkpoints/Data_preparation_03-checkpoint.ipynb
*.xlsx
*.hdf
HH_Projects/10_Returns_Momentum/.ipynb_checkpoints/Momentum_Factors-checkpoint.ipynb
HH_Projects/10_Returns_Momentum/.ipynb_checkpoints/Residual_Factor_New-checkpoint.ipynb
HH_Projects/05_Economic_Indices/Notebooks backup/.ipynb_checkpoints/Forecasts_factors_std_norm_backup_05-checkpoint.ipynb
